<!-- header -->
<div id="topnav" class="w3-bar ">
	<!-- espase de logo -->
	<!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYcRWD5h1dxmXQsBtnsHV9D0ulw1wbx3TiTqWZyMQtCDt5yIAp4g" style="width: 200px; height: 55px;"> -->
  <div style="width: 200px; line-height: 55px; text-align: center; height: 55px;">
    LUR AZTIA
  </div>
	<!-- list du menu -->
	<ul class="list-menu">
		<li><a href="#">THERAPIES</a></li>
		<li><a href="#">MEDICINES ANCESTRALES</a></li>
		<li><a href="#">BLOG</a></li>
	</ul>

	<ul>
		<!-- parti de recherche -->
		<li id="search" class="w3-padding w3-xlarge w3-text-orange right-menu">
			<i class="fa fa-search" style="font-size:15px;"></i>
			<ul>
				<li class="dropdown">
					<a href="#">RECHERCHER</a>
					<div class="dropdown-content">
						<a href="#">
							<form>
								<span class="icon icon-search"><i class="fa fa-search" aria-hidden="true" style="font-size:15px; padding: 0px;"></i></span>
								<input type="text" name="search" placeholder="Search..">
							</form>
						</a>
					</div>
				</li>
			</ul>
		</li>
		<!-- parti de filter -->
		<li id="filter" class="w3-padding w3-xlarge w3-text-orange right-menu">
			<i class="fa fa-bars" style="font-size:15px;"></i>

			<ul>
				<li class="dropdown">
					<a href="#">FILTER &#9660;</a>
					<div class="dropdown-content">
						<a href="#">CATEGORIES</a>
						<a href="#">DATE</a>
					</div>
				</li>
			</ul>
		</li>
		<!-- parti du langues -->
		<li id="langue" class="w3-padding w3-xlarge w3-text-orange right-menu">
			<i class="fa fa-language" aria-hidden="true" style="font-size:15px"></i>
			<ul>
				<li class="dropdown">
					<a href="#">FR</a>
					<div class="dropdown-content">
						<a href="#">FR</a>
						<a href="#">ENG</a>
						<a href="#">ESP</a>
					</div>
				</li>
			</ul>
		</li>
	</ul>
</div>
