.Admin-Header {
	display: flex;
	width: 100%;
	height: 6rem;
	color: #EEE;
}

.Admin-Header__Language {
	display: flex;
	justify-content: center;
  flex-direction: column;
	background-color: #12233D;
	width: 20rem;
	text-align: center;
	font-size: 1.4rem;
}

.Admin-Header__Title {
	display: flex;
	flex-grow: 1;
	justify-content: center;
  flex-direction: column;
	background-color: #385EC7;
	padding: 0 0 0 2rem;
}

.Admin {
	display: flex;
	width: 100%;
	height: auto;
	min-height: 30rem;
}

.Admin__Sidebar {
	background-color: #1A2E56;
	width: 20rem;
}

.Admin__Sidebar a {
  color: #FFF;
}

.Admin__Content {
	background-color: #FFF;
	flex-grow: 1;
	padding: 2rem;
}
