	<table>
		<tr>
			<th>
				Title
			</th>
			<th>
				Actions
			</th>
		</tr>
		<tr ng-repeat="article in $ctrl.articles">
			<td>
				{{ article.title }}
			</td>
			<td>
				<button type="submit" ng-click="$ctrl.selectArticle(article._id)">Update</button>
				<button type="submit" ng-click="$ctrl.deleteArticle(article._id)">Delete</button>
			</td>
		</tr>
	</table>


<h1>New Article</h1>
<form>
	<p>
	title
	<input type="text" ng-model="$ctrl.formData.title">
	</p>
	<p>
	content
	<textarea width=50 height=30 ng-model="$ctrl.formData.content"></textarea>
	</p>
	<p>
	excerpt
	<textarea width=50 height=30 ng-model="$ctrl.formData.excerpt"></textarea>
	</p>
	<p>
	image
	<input type="text" ng-model="$ctrl.formData.img">
	</p>
	<p>
	<button type="submit" ng-click="$ctrl.action()">Save</button>
	</p>
</form>

<div class="test">

</div>

<div text-angular ng-model="$ctrl.formData.content"></div>
