<section class="Section Section__fullArticle">
  <article class="fullArticle__content">
    <figure class="fullArticle__img">
      <img alt="{{ $ctrl.article.imgAlt }}" src="{{ $ctrl.article.img }}" />
    </figure>
    <header class="fullArticle__header">
      <date class="fullArticle__date">{{ $ctrl.article.date }}</date>
      <h2 class="fullArticle__title">{{ $ctrl.article.title }}</h2>
    </header>
    <div class="fullArticle__desc">
      {{ $ctrl.article.content }}
    </div>
  </article>
  <footer>
    <div class="fullArticle__bordure"></div>
  </footer>
</section>
