
<ul>
	<!-- parti de recherche -->
	<li id="search" >
		<i class="fa fa-search" style="font-size:15px;"></i>
		<ul>
			<li >
				<a href="#">RECHERCHER</a>
				<div >
					<a href="#">
						<form>
							<span ng-click="$ctrl.searchInput()" class="icon icon-search"><i class="fa fa-search" style="font-size:15px; padding: 0px;"></i></span>
							<input type="text" name="search" placeholder="Search.."  ng-model="$ctrl.searchTitle">
							<p>{{$ctrl.result}}</p>

						</form>

						<br>
						<br>
						<p>{{5+5}}</p>
					</a>
				</div>
			</li>
		</ul>
	</li>

</ul>


