<section class="Section Section__search">
	<ul class="Categories__list">
		<li class="Category__item" data-category="planetes"><a href="#" class="Category__link" >Peuples indigènes</a></li>
		<li class="Category__item" data-category="exploration"><a href="#" class="Category__link">Medecines ancestrales</a></li>
		<li class="Category__item" data-category="terre"><a href="#" class="Category__link">Culture et paysages</a></li>
	</ul>
	<div id="searchedArticles" class="Search__block">
		<input id="searchInput" type="text" name="filter" placeholder="Rechercher" value="">
	</div>
</section>